<!DOCTYPE html>
<html>
  <head>
    <title>Clubs</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css"
  href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" type="text/css"
  href="https://fonts.googleapis.com/css?family=Muli">
  <link rel="stylesheet" type="text/css"
  href="https://fonts.googleapis.com/css?family=Vollkorn">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= csrf_meta_tags %>
    <%= filestack_js_include_tag %>
    <%= filestack_js_init_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<center>
  <body>
    <div class = 'container'>
      <div class = 'row'>
      <div class = 'col-md-9' style="text-align: left">
      <%= yield %>
      </div>
      <div class="col-md-3" style="width:20px, margin-right: 0px, margin-top: 0px, text-align: right">
        <h2 class="w3-bar-item">Events</h2>
        <a href="#" class="w3-bar-item w3-button">Link 1</a><br>
        <a href="#" class="w3-bar-item w3-button">Link 2</a><br>
        <a href="#" class="w3-bar-item w3-button">Link 3</a><br>
      </div>

<!-- Page Content -->
    </div>
    </div>
  </body>
</center>
</html>
